* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}

html { 
    background: url(macos-big-sur-apple-layers-fluidic-colorful-wwdc-stock-4096x2304-1455.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 50px;
  }

header {
    /* POSITIONING */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    /* BLOCK STYLING */
    background-color: rgb(102, 122, 190, .85);
    color: white;
    width: 100vw;
    padding: 5px;
}

#navigationBar {
    /* POSITIONING */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;

    /* BLOCK STYLING */
    padding-left: 20px;
}

#taskBar {
     /* POSITIONING */
     display: flex;
     justify-content: flex-end;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 20px;
 
     /* BLOCK STYLING */
     padding-right: 20px;
}

.headers {
    /* FONT STYLING */
    font-size: 8px;
    font-weight: 100;
}

main {
    /* POSITIONING */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 100px;
}

#calculator {
    /* POSITIONING */
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 80px repeat(5, 60px);
    gap: 1px;

    /* BLOCK STYLING */
    background-color: #492222;
    border-radius: 10px;
    opacity: .95;
    padding: 1px;
}

.inputField {
    /* POSITIONING */
    grid-column: 1 / 5;
    grid-row: 1 / 2;

    /* BLOCK STYLING */
    background-color: #492222 ;
    color: white;
    border-radius: 10px 10px 0px 0px;

    /* FONT STYLING */
    text-align: right;
    padding: 20px;
    font-size: 50px;
    font-weight: lighter;
}

button, input {
    border: none;
}

.operationButton {
    /* BLOCK STYLING */
    background-color: #ff9c0c;
    color: white;
    /* FONT STYLING */
    text-align: center;
    font-size: 30px;
}

.operationButton:active {
    background: #ce7f09;
}

.operationButton:focus {
    border: 1px solid #492222;
}

#clearButton {
    /* POSITIONING */
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    /* BLOCK STYLING */
    background-color: #7a4242;
    color: white;

    /* FONT STYLING */
    text-align: center;
    font-size: 30px;
}

#equalButton {
    /* POSITIONING */
    grid-column: 3 / 5;
    grid-row: 2 / 3;

    /* BLOCK STYLING */
    background-color: #7a4242;
    color: white;

    /* FONT STYLING */
    text-align: center;
    font-size: 30px;
}

#clearButton:active, #equalButton:active  {
    background-color: #885c6c;
}

#additionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#subtractionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

#multiplicationButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

.numberButton {
    /* BLOCK STYLING */
    background-color: #885c6c;
    color: white;
    /* FONT STYLING */
    text-align: center;
    font-size: 30px;
}

.numberButton:active {
    background-color: #ad8b97;
}

#sevenButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#eightButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#nineButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#fourButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#fiveButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#sixButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#oneButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#twoButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#threeButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#zeroButton {
    /* POSITIONING */
    grid-column: 1 / 3;
    grid-row: 6 / 7;

    /* BLOCK STYLING */
    border-radius: 0px 0px 0px 10px;

}

#decimalButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#divisionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 6 / 7;

    /* BLOCK STYLING */
    border-radius: 0px 0px 10px 0px;
}

#historyContainer {
   /* POSITIONING */
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 60px 1fr;

   /* BLOCK STYLING */
   background-color: #FFFFFF;
   border-radius: 25px;
   width: 400px;
   min-height: 600px;
}

#historyHeader {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    justify-content: center;
    align-items: center;

    /* BLOCK STYLING */
    background-color: #FCD43B;
    border-radius: 25px 25px 0px 0px;
    box-shadow: 0px 2px 5px grey;
}

hr {
    height: 1px;
    border: 0;
    border-top: 3px dotted #ccc;
    margin: .75em 0;
    padding: 0;
}

#calculatorHistory {
    /* POSITIONING */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    /* BLOCK STYLING */
    padding: 5px;
    margin: 5px;
    min-width: 270px;
    /* FONT STYLING */
    list-style-type: none;
    line-height: 1.5em;
}

ul :last-child {
    font-weight: bold;
}

#calculationLi {
    /* FONT STYLING */
    text-align: center;
}