* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    gap: 50px;
    padding: 100px;
}

header {
    /* INNER ELEMENT POSITIONING */
    display: flex;
    justify-content: center;
    align-items: center;

    /* BLOCK STYLING */
   background-color: black;
   color: white;
   /* FONT STYLING */
   text-align: center;
   font-size: 20px;
   font-weight: bold;
}

#calculator {
    /* POSITIONING */
    display: grid;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(6, 60px);
    gap: 1px;

    /* BLOCK STYLING */
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1px;
}

.inputField {
    /* FONT STYLING */
    text-align: center;
    font-size: 20px;
    font-weight: normal;
}

#firstNumber {
    /* POSITIONING */
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

button:hover {
    filter: brightness(150%)
}

.operationButton {
    /* BLOCK STYLING */
    background-color: lightgrey;
    color: black;
    /* FONT STYLING */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#clearButton {
    /* POSITIONING */
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    /* BLOCK STYLING */
    background-color: orangered;
    color: white;

    /* FONT STYLING */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#equalButton {
    /* POSITIONING */
    grid-column: 3 / 5;
    grid-row: 2 / 3;

    /* BLOCK STYLING */
    background-color: blue;
    color: white;

    /* FONT STYLING */
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

#additionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#subtractionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 4 / 5;
}

#multiplicationButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 5 / 6;
}

#sevenButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#eightButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#nineButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#fourButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 4 / 5;
}

#fiveButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

#sixButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 4 / 5;
}

#oneButton {
    /* POSITIONING */
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}

#twoButton {
    /* POSITIONING */
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#threeButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#zeroButton {
    /* POSITIONING */
    grid-column: 1 / 3;
    grid-row: 6 / 7;
}

#decimalButton {
    /* POSITIONING */
    grid-column: 3 / 4;
    grid-row: 6 / 7;
}

#divisionButton {
    /* POSITIONING */
    grid-column: 4 / 5;
    grid-row: 6 / 7;
}

#historyContainer {
    /* POSITIONING */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    /* BLOCK STYLING */
    border: 1px solid black;
    min-width: 300px;
    max-width: 100%;
}

.subHeader {
    padding: 5px;
    margin: 5px;
}

#calculatorHistory {
    /* POSITIONING */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    /* BLOCK STYLING */
    padding: 5px;
    margin: 5px;
    min-width: 270px;
    /* FONT STYLING */
    list-style-type: none;
    line-height: 1.5em;
}

ul :last-child {
    font-weight: bold;
}

#calculationLi {
    /* FONT STYLING */
    text-align: center;
}
